<a href="https://colab.research.google.com/github/Suman-byte8/anime-analysis-with-pandas-numpy/blob/main/Anime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Numpy & Pandas**

In [ ]:
import numpy as np
import pandas as pd

**Load CSV File**

In [4]:
df = pd.read_csv('/content/anime.csv')
display(df.head())

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

**Seeing the Title Example from First Row**

In [6]:
df.iloc[0]['Title']

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

**Function to extract the episode from Title**

In [13]:
def extract_eps(txt):
  check = False
  data = ""
  for i in txt :
    if i == ')':
      check = False
      return data
    if check == True:
      data+=i
    if i == '(':
      check = True


df['Title'].apply(extract_eps).head()

0    64 eps
1    24 eps
2    13 eps
3    51 eps
4    10 eps
Name: Title, dtype: object

**Added New Column for Episodes**

In [12]:
df['Episodes'] = df['Title'].apply(extract_eps)
df.head()

   Rank                                              Title  Score Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10   64 eps
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07   24 eps
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06   13 eps
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06   51 eps
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05   10 eps